<h3> {{ listName() }} </h3>
<ul>
   @for (personaje of personajes(); track personaje.id; let idx=$index) {
        @if ( personaje.power > 500) {
            <li>
               <span> {{ idx + 1 }} - {{ personaje.name }} </span>
               <strong [class.text-danger]="personaje.power > 9000"
                       [class.text-info]="personaje.power < 9000"> {{ personaje.power }} </strong>
               <!-- <strong [ngClass]="powerClasses()"> {{ character.power }} </strong> -->
            </li>
        }
   }
</ul>
