<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active {
     color: red;
  }

</style>

<nav>
  <a routerLink="/"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true}"> Contador </a>
  <a [routerLink]="['/heroe']" [routerLinkActive]="'active'"> Heroe </a>
  <a [routerLink]="['/personajes']" [routerLinkActive]="'active'"> Personajes </a>
  <a routerLink="/personajes-super" [routerLinkActive]="'active'"> Personajes Super</a>
</nav>

